#container {
  position: absolute;
  left: 33%;
  top: 20%;
  display: flex;
  flex-wrap: wrap;
  max-width: 30%;
}

button {
  padding: 20px;
  flex: 0 0 33.33%;
}

button:hover {
  background-color: rgb(209, 100, 134);
}

#display{
  width: 30%;
  max-width: 30%;
  height: 20%;
  max-height: 20%;
  position: absolute;
  left: 33%;
  top: 46%;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}